Source: byacc-j
Maintainer: Ludovic Claude <ludovic.claude@laposte.net>
Section: devel
Priority: extra
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 6), cdbs, quilt, cmake (>= 2.6)
Vcs-Bzr: lp:~ludovicc/uj/byacc-j
Vcs-Browser: http://bazaar.launchpad.net/~ludovicc/uj/byacc-j/files
Homepage: http://byaccj.sourceforge.net/

Package: byacc-j
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Berkeley YACC parser generator extended to generate Java code
 BYACC/J is an extension of the Berkeley v 1.8 YACC-compatible parser 
 generator.
 .
 Standard YACC takes a YACC source file, and generates one or more C files from 
 it, which if compiled properly, will produce a LALR-grammar parser. This is 
 useful for expression parsing, interactive command parsing, and file reading. 
 Many megabytes of YACC code have been written over the years.
 .
 This is the standard YACC tool that is in use every day to produce C/C++ 
 parsers.
 .
 I have added a "-J" flag which will cause BYACC to generate Java source code, 
 instead. So there finally is a YACC for Java now! 

