#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

PACKAGE              := $(DEB_SOURCE_PACKAGE)
VERSION              := $(DEB_UPSTREAM_VERSION)
MAN_PAGES     := debian/byaccj.1

clean::
	rm -rf debian/tmp

binary-post-install/$(PACKAGE)::
	dh_installman $(MAN_PAGES)

get-orig-source:
	-uscan --force-download --rename

